---
import Layout from "../../../../layout/Layout.astro";
import AnswerForm from "../../../../components/AnswerForm.svelte";
import AnswersListPaginated from "../../../../components/AnswersListPaginated.svelte";

const courseId = Astro.params.courseId;
const questionId = Astro.params.questionId;

const response = await fetch(
    `http://qa-api:7777/courses/${courseId}/questions/${questionId}`
);
const question = await response.json();
---

<Layout>
    <h2 class="text-center text-2xl font-bold m-4">{question.title}</h2>
    <p id="questionText" class="text-xl">{question.text}</p>
    <AnswerForm {courseId} {question} client:load />
    <AnswersListPaginated {courseId} {question} client:load />
</Layout>
